@import "../../sass/abstracts/mixins";

.App {
 display: flex;
 flex-direction: column;
 row-gap: 50px;
 margin: 0;
}

.container{
  margin: 0 auto ;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 25px;
  min-height: 80vh;
  
  @include respond(big-desktop) {
    width: 80%;
    grid-template-columns: repeat(5,1fr);
  }
  
  @include respond(tab-port) {
    width: 100%;
    grid-template-columns: repeat(3,1fr);
  }
  
  @include respond(phone) {
  width: 100%;
  grid-template-columns: repeat(2,1fr);
  
  }


  
  
}