// COLORS
// We define the primary color and its variants
$color-primary: #B13F86;
$color-primary-light: #F4D9EA;
$color-primary-dark: #641145;

// We define the secondary color and its variants
$color-secondary-light: #F5F9FC;
$color-secondary-dark: #8EB5D1;

// Different scales of black & white
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-black_blue: #222C33;

// FONT
$default-font-size: 1.4rem;