@import "../../../../sass/abstracts/mixins";

.ButtonBorder{
	width: 200px;
	height: 50px;
	text-align: center;
	border-radius: 10px;
	border-color: black;
	background-color: transparent;
	color: black;
	cursor: pointer;
	border-style: solid;
	border-radius: 10px;
	text-decoration: none;
	
	
}

.Carefull{
	width: 100px;
	height: 40px;
	border-color: red;
	color:red;
	font-size: 1.2rem;
	border-width: 1px;
	font-weight: bold;


}

.big{
	width: 200px;
	height: 50px;
	font-size: 1.2rem;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;

	@include respond(phone) {
		width: 100px;
	
	  }
}