@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/variables";


.Header{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(phone) {
      width: 90%;      
      }



    &__button{
      padding: 5px 15px;
      background-color: $color-grey-light-2;
      border-radius: 20px;
      text-decoration: none;
      border-color: $color-grey-light-2;
      color: $color-primary;
      border: none;
      cursor: pointer;
      font-weight: bold;
    }
  }